#toolbar {
    justify-content: end;
}
.field:first-of-type {
    margin-top: 0;
}
.btn-small {
    height: 25px;
    padding:  7px;
}
.actions-wrapper {
    align-items: center;
}
.spinner {
    display: none;
}
.icon.logs:before {
    content: 'circlerarr';
    color: rgba(123, 135, 147, 0.5);
}
.icon.logs:hover:before {
    color: initial;   
}
#content-modal iframe {
    border: 1px solid lightgray;
}
#content-modal .main .heading span {
    color: #596673;
    font-size: 11px;
    font-weight: bold;
}
.actions-cell .icon {
    margin-right: 7px;
}
.actions-cell .icon:before {
    margin-top: -3px;
}
#emails-modal, #content-modal {
    max-width:  100px;
}
#emails-modal .body, #content-modal .body{
    overflow-y: auto;
}
.justify-between {
    justify-content: space-between;
}
.justify-end {
    justify-content: end;   
}
.field.third {
    width: 33.3%;
}
.field.quarter {
    width: 25%;
}
.field.half {
    width: 50%;
}
.align-base {
    align-items: baseline;
}
.email-element {
    margin-top: 7px;
}
.email-element:first-child {
    margin-top: 12px;
}

#main .redactor-box.redactor-box-fullscreen {
    z-index: 101 !important;
}
.modal {
    z-index: 102;
}
.slideout-container, .slideout-shade {
    z-index: 103;   
}
.menu {
    z-index:  104;
}
#email-preview {
    max-width: 500px;
    margin: auto;
    margin-top: 10px;
}
#email-preview label {
    display: block;
    font-weight: bold;
}
#email-preview iframe {
    border:none;
    width: 100%;
    height: 100%;
}
#email-preview .subject {
    margin-bottom: 10px;
}
.lp-iframe-container {
    background: #e4edf6;
}
.warning-banner {
    padding: 5px 0;
    background: #fc7703;
    text-align: center;
}
.error-banner {
    padding: 5px 0;
    background: #fc3903;
    text-align: center;
}
#email-preview body {
    margin: 0;
}
#email-preview .actions {
    margin-top: 10px;
}
#email-preview .iframe-wrapper {
    height: calc(100vh - 230px);
}