.warning-banner {
    padding: 5px 0;
    background: #fc7703;
    text-align: center;
}
.error-banner {
    padding: 5px 0;
    background: #fc3903;
    text-align: center;
}

.slideout-container, .slideout-shade {
    z-index: 103;   
}