{% extends "_layouts/cp" %}

{% set fullPageForm = true %}
{% set title = 'Send quick email shot'|t('emails') %}
{% set selectedSubnavItem = 'shots' %}
{% set mode = 'quick-shot' %}

{% block submitButton %}
{% endblock %}

{% block toolbar %}
    <a href="{{ url('emails/shots') }}" class="btn">{{ 'Back'|t('app') }}</a>
    <button type="submit" class="btn submit">{{ 'Send'|t('emails') }}</button>
{% endblock %}

{% block content %}
    {{ actionInput('emails/cp-shots/send-quick-shot') }}
    {% include "emails/_includes/shot_form" %}
{% endblock %}