<html>
<body style="margin: 0; background-color: white">
    <div style="max-width: 500px; font-size: 13px; line-height: 18px; font-family: HelveticaNeue, sans-serif; padding: 10px">
        {{ craft.app.sites.primarySite.name }}
        {{ body }}
    </div>
</body>
</html>
